snippet epochs
## epochs
### epoch1
- 目的
- やったこと
- 結果

### epoch2
- 目的
- やったこと
- 結果

### epoch3
- 目的
- やったこと
- 結果

### epoch4
- 目的
- やったこと
- 結果

### epoch5
- 目的
- やったこと
- 結果

### epoch6
- 目的
- やったこと
- 結果
endsnippet
